/* div{
  border: solid 1px;
} */

body{
  font-family: Verdana;
  font-size: 12px;
  background: transparent url(images/nza_background.jpg);
  background-attachment: fixed;
}

.container{
  width: 828px;
  margin: auto;
  padding: 0 56px;
  background-color: #ffffff;
}

.content{
  width: 828px;
}

.left_nav{
  width: 156px;
  display: inline-block;
  float: left;
  padding: 20px 12px 8px;
  background-color: #6B2A28;
}

.left_nav a{
  color: #ffffff;
  text-decoration: none;
}

.left_nav_link{
  font-size: 10px;
}

.mid_section{
  width: 366px;
  display: inline-block;
  float: left;
  margin-left: 33px;
}

.right_nav{
  width: 198px;
  display: inline-block;
  float: right;
  padding: 10px 9px 20px;
  background-color: #D7CEC5;
}

.right_nav a{
  text-decoration: none;
  font-size: 10px;
  color: #000000;
}

footer{
  clear: both;
}
